<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multipurpose Website - Catering all purposes!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <link rel="icon" type="image/x-icon" href="/logo.webp">
</head>

<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/logo.webp" alt="Multipurpose Website" width="50" height="50" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/img-to-pdf">Image-PDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/url-shortener">URL Shortener</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qr-scanner">QR Scanner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/yt-download">YT Downloader</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/password-generator">Password Generator</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <div class="container">
        <h1>YouTube Video Downloader</h1>
        <div class="d-flex">
            <input class="form-control" type="text" id="videoUrl" placeholder="Enter YouTube video URL" />
            <button onclick="downloadVideo()" class="btn btn-success col ms-2">Download</button>
            <p id="downloadLink"></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>
        async function downloadVideo() {
            const videoUrl = document.getElementById("videoUrl").value;

            if (videoUrl.trim() === "") {
                alert("Please enter a valid YouTube video URL");
                return;
            }

            // Send the YouTube video URL to the server for downloading
            const response = await fetch("/download", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ videoUrl }),
            });

            if (response.ok) {
                const result = await response.json();
                document.getElementById("downloadLink").innerHTML = `<a href="${result.downloadLink}" target="_blank">Download Link</a>`;
            } else {
                alert("Error downloading video. Please try again.");
            }
        }
    </script>
</body>

</html>